GARBY_FIREBASE_CREDENTIALS=/home/garby/GARBY/service-account.json
GARBY_FIREBASE_DATABASE_URL=https://garby-thesis-default-rtdb.asia-southeast1.firebasedatabase.app
GARBY_SENSOR_SERIAL_PORT=/dev/ttyAMA0
GARBY_SENSOR_SERIAL_BAUD=9600
GARBY_LIDAR_PORT=/dev/serial/by-id/replace-with-ydlidar-id
GARBY_LIDAR_DRIVER_LOGS=0
